@import "tailwindcss";

.my-btn {
  @apply text-gray-100 hover:text-gray-50 hover:bg-gray-900 
         transition-all ease-in-out duration-200 
         border border-transparent rounded-md 
         py-0.5 px-2 cursor-pointer shadow bg-gray-950;
}

.body-style {
  @apply w-[98%] md:w-[95%]! mx-auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}